# Configuration file

~CONFIG_VERSION: 0.1.0

world-1600980656 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@ap
    B:overlayEnabled=false
}


world113318802 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=quantum 
    B:overlayEnabled=true
}


world1157583005 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=steel
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1999341327 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=darm
    B:overlayEnabled=true
}


world2571410 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=false
}


world258942835 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@thermal
    B:overlayEnabled=true
}


world296722483 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=false
}


world740960993 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=contro
    B:overlayEnabled=false
}


world80698881 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@thermal
    B:overlayEnabled=true
}


world94924937 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


